#container > #image {
    width: 600px;
    height: 600px;
}

#container > #small-image {
    position: relative;
    bottom: 100px;
    left: 450px;
}

#container > button {
    width: 50px;
    height: 30px;
    background-color: rgb(76, 175, 80);
    border: none;
}

#container > button > p {
    margin: 0;
    color: white;
}